// Store all the colors
$secondary-text-color: white;
$footer-background-color: black;
$footer-text-color: $secondary-text-color;
$header-background-color: #e6f9ff;
$list-items-background-color: #b8daff;
$form-valid-color: #42A948;
$form-invalid-color: #a94442;