@import "~bootstrap/dist/css/bootstrap.css";
@import './variables';
@import './color';

.padding-top-bottom-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }

.padding-top-sm {
  padding-top: $padding-sm;
}

.padding-left-sm {
  padding-left: $padding-sm;
}

.padding-right-lg {
  padding-right: $padding-lg;
}

.margin-top-bottom-lg {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
  }

.margin-top-xl {
  margin-top: $margin-xl;
}

.margin-right-sm {
  margin-right: $margin-sm;
}

.margin-right-md {
  margin-right: $margin-md;
}

.margin-bottom-md{
  margin-bottom: $margin-md;
}

.margin-bottom-xl {
  margin-bottom: $margin-xl;
}

.margin-sm {
  margin: $margin-sm;
}

.centered {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.ng-valid[required], .ng-valid.required  {
  border: 1px solid $form-valid-color;
}

.ng-invalid:not(form)  {
  border: 1px solid $form-invalid-color;
}