@import "~bootstrap/dist/css/bootstrap.css";
@import './variables';

.padding-top-bottom-md {
    padding-top: $padding-top-bottom-md;
    padding-bottom: $padding-top-bottom-md;
  }

.padding-top-sm {
  padding-top: $padding-sm;
}

.margin-top-bottom-lg {
    margin-top: $margin-top-bottom-lg;
    margin-bottom: $margin-top-bottom-lg;
  }

.margin-top-xl {
  margin-top: $margin-top-bottom-xl;
}

.margin-right-md {
  margin-right: $margin-md;
}

.margin-sm {
  margin: $margin-sm;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }



