$padding-top-bottom-sm: 10px;
$padding-top-bottom-md: 20px;
$padding-top-bottom-lg: 30px;

$margin-top-bottom-sm: 10px;
$margin-top-bottom-md: 20px;
$margin-top-bottom-lg: 30px;
$margin-top-bottom-xl: 70px;