<div class="container margin-top-bottom-lg">
  <h2 class="margin-bottom-md" translate>common.signUp</h2>
  <form (ngSubmit)="signUpClick()" #signUpForm="ngForm">

    <div class="form-group">
      <label for="email" translate>common.email</label>
      <input type="text" class="form-control" id="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required [(ngModel)]="user.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger" translate>
        common.emailRequirement.text
      </div>
    </div>

    <div class="form-group margin-bottom-xl">
      <label for="password" translate>common.password</label>
      <input type="password" class="form-control" id="password" pattern="[A-Za-z0-9]{6,}" required [(ngModel)]="user.password" name="password" #password="ngModel">
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger" translate>
        common.passwordRequirement.text
      </div>
    </div>

    <div class="centered">
      <button class="btn btn-danger margin-right-md" (click)="cancelClick()" translate>common.cancel</button>
      <button type="submit" [disabled]="!signUpForm.form.valid" class="btn btn-success" translate>common.signUp</button>
    </div>

  </form>
</div>