@import '../../styles/styles';
@import '../../styles/color';

.homepage-wrapper {
    background-image: url(../../../assets/image/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    color: $secondary-text-color;
}