@import '../../styles/color';

.footer-wrapper {
    background-color: $footer-background-color;
    padding-top: 20px;
    padding-bottom: 35px;
    color: $footer-text-color;
    text-align:center;
}